@font-face {
    font-family: 'VK Sans Display';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/VK-Sans/Display/Light.ttf') format('truetype');
}

@font-face {
    font-family: 'VK Sans Display';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/VK-Sans/Display/Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'VK Sans Display';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/VK-Sans/Display/Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'VK Sans Display';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/VK-Sans/Display/DemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'VK Sans Display';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/VK-Sans/Display/Bold.ttf') format('truetype');
}